body {
  font-family: "Manrope", sans-serif;
}

.container {
  width: 1150px;
  height: 500px;
  margin: 0 auto;
  box-sizing: border-box;
}
h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  letter-spacing: -1.8px;
  width: 956px;

  color: #121212;

  margin-bottom: 30px;
}

.room-body {
  width: 1150px;
  height: 500px;

  background-image: url("../resources/Rectangle\ 1.png");
  background-size: contain;
  background-repeat: no-repeat;

  margin-bottom: 150px;
}

.room-body-text-wrapper {
  font-size: 20px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: -0.6px;
  width: 430px;

  color: white;

  padding-top: 379px;
  padding-left: 40px;
}

h2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;

  color: #121212;

  margin-bottom: 30px;
}

h3 {
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.35px;
  width: 1048px;

  color: #121212;

  margin-bottom: 30px;
  margin-top: 30px;
}

.serv-link {
  display: block;
  width: 255px;
  height: 67px;
  background-color: #ad1818;
  text-align: center;
  line-height: 67px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
